<aside>
  <nav>
    <a href="#">Показать на карте</a>
    <!-- <a href="#">Оставить отзыв</a> -->
    <a href="#">Фотографии</a>
    <!-- <a href="#">Сделать подарок</a> -->
    <!-- <a href="#">Атрибутика</a> -->
  </nav>
  <section class="worktime">
    <h5>Время</h5>

  </section>
</aside>
<main>
  <article>
    <figure class="tvclub">Реклама клуба</figure>
    <section class="bar">
        <figure><img src="https://fitgum.ru/files/{{club?.logo}}" alt=""></figure>
        <div>
          <h1>{{club?.title}}</h1>
          <h1>{{club?.type.title}}</h1>
          <ul>
            <li>Просмотров <span>{{club.views}}</span></li>
            <!-- <li>Акций <span>73</span></li>
            <li>Услуг <span>73</span></li> -->
          </ul>
          <p>{{club?.description}}</p>
        </div>
        <section class="stats">
          <nav>
            <a href="">Вступить</a>
            <a href="">Позвонить</a>
          </nav>
          <img src="/assets/stats.svg" alt="">
          <p><span>#1</span> в рейтинге</p>
        </section>
    </section>
    <app-trainers-list [trainers]="trainers"></app-trainers-list>
    <section class="service">
      <h1>Активные услуги клуба</h1>
      <article>
        <figure></figure>
        <h1>Абонемент <span>месяц</span></h1>
        <p>Для начинающих</p>
      </article>
      <article>
          <figure></figure>
          <h1>Первое посещение <span>бесплатно</span></h1>
          <p>Продвинутые</p>
        </article>
        <article>
            <figure></figure>
            <h1><span>Бонус</span> клубная карта</h1>
            <p>Йога или выбор</p>
          </article>
    </section>
    <section class="service">
        <h1>Флаеры</h1>
        <article>
          <figure></figure>
          <h1>Флаер <span>месяц</span></h1>
          <p>Для начинающих</p>
        </article>
        <article>
            <figure></figure>
            <h1>Первое посещение <span>бесплатно</span></h1>
            <p>Продвинутые</p>
          </article>
          <article>
              <figure></figure>
              <h1><span>Бонус</span> клубная карта</h1>
              <p>Йога или выбор</p>
            </article>
      </section>
      <section class="service">
          <h1>Дополнительнные возможности</h1>

        </section>
  </article>
</main>
