:host {
    grid-area: news;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "h h h h";
    grid-gap: 10px;
}
h1 {
    font-size: 14px;
    line-height: 44px;
    grid-area: h;
}