:host {
    padding: 60px 90px;
    display: flex;
    grid-area: header;
}
a {
    text-shadow: var(--shadow);
    line-height: 44px;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
}
a span:first-child {
    color: var(--pink);
}
a span:last-child {
    color: var(--purple);
}
.theme {
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    padding: 0 44px;
    text-shadow: var(--shadow);
    cursor: pointer;
}
.theme::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 20px;
    background: url(/assets/icons/dark.svg) no-repeat;
    margin-right: 10px;
    transition: transform .3s;
}
.theme:hover::before {
    transform: translateY(5px) rotate(-10deg);
}