:host {
    padding: 22px 90px;
    display: flex;
    grid-area: header;
    position: relative;
    z-index: 1;
    min-width: 1366px;
}
header a {
    text-shadow: var(--shadow);
    line-height: 44px;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
}
header a span:first-child {
    color: var(--pink);
}
header a span:last-child {
    color: var(--purple);
}
.theme {
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    padding: 0 22px;
    text-shadow: var(--shadow);
    cursor: pointer;
}
.theme::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.login {
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    padding: 0 22px;
    text-shadow: var(--shadow);  
    text-decoration: none;
}
.login::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
}