:host {
    padding: 0 90px;
    grid-area: footer;
    min-width: 1366px;
    display: block;
    margin-top: 22px;
}
a {
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    padding: 0 22px;
    color: var(--light);
    font-size: 14px;
    text-shadow: var(--shadow);
}