:host {
    width: 1366px;
    margin: 44px auto;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 1;
}
p {
    font-size: 14px;
    color: var(--dark);
    line-height: 44px;
    font-weight: bold;
}