article {
    width: 100%;
    border-radius: 10px;
    padding: 22px;
    box-shadow: var(--shadow);
}
h1 {
    line-height: 44px;
    font-size: 14px;
}
div {
    font-size: 14px;
    color: var(--light);
}
footer {
    font-size: 14px;
    line-height: 44px;
    color: var(--light);
    font-weight: bold;
}