article {
    width: 170px;
    height: 94px;
    border-radius: 4px;
    overflow: hidden;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h h" "f f";
    grid-template-rows: auto 1fr;
    align-items: center;
    box-shadow: var(--shadow);
    transition: all .3s;
}
article:hover {
    transform: translateY(-7px);
}
h1 {
    grid-area: h;
    height: 17px;
    color: var(--dark);
    background: white;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    padding: 1px 10px 0;
}
article figure {
    grid-area: f;
    overflow: hidden;
    margin: 0 auto;
}
article figure img {
    max-width: 100%;
}
article p {
    display: none;
    grid-area: t;
    font-size: 12px;
    color: var(--light);
}