article {
    width: 170px;
    height: 94px;
    /* background: white; */
    border-radius: 4px;
    /* box-shadow: var(--shadow); */
    overflow: hidden;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h h" "f f";
    grid-template-rows: auto 1fr;
    align-items: center;
}
h1 {
    grid-area: h;
    height: 17px;
    background: var(--purple);
    color: white;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 17px;
    padding: 1px 10px 0;
}
article figure {
    grid-area: f;
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
article figure img {
    max-width: 100%;
}
article p {
    display: none;
    grid-area: t;
    font-size: 12px;
    color: var(--light);
}