 article {
    width: 170px;
    height: 200px;
    border-radius: 4px;
    box-shadow: var(--shadow);
    position: relative;
    transition: transform .3s;
}
article:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
article::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 10;
    bottom: 10px;
    width: 14px;
    height: 2px;
    background: url(/assets/icons/more.svg) no-repeat;
}
article figure {
    overflow: hidden;
    border-radius: 4px;
    background: black;
    height: 100px;
}
article figure img {
    max-width: 100%;
}
article > a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--dark);
    font-size: 12px;
    line-height: 44px;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
article p {
    padding: 0 10px;
    font-size: 12px;
}
article p a {
    font-size: 12px;
    text-decoration: none;
    color: var(--light);
}