<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [styles]="style"
  [zoom]="11"
  [streetViewControl]="false"
  [zoomControl]="false"
  [scrollwheel]="false">
  <agm-marker *ngFor="let marker of markers"
  [iconUrl]="'https://fitgum.ru/assets/icons/geo.svg'"
  [latitude]="marker.latitude"
  [longitude]="marker.longitude">
    <agm-snazzy-info-window [maxWidth]="200">
      <ng-template>
        {{marker.title}}
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>

  <agm-marker *ngFor="let marker of vacanciesMarkers"
  [iconUrl]="'https://fitgum.ru/assets/icons/geo-vacancies.svg'"
  [latitude]="marker.latitude"
  [longitude]="marker.longitude">
    <agm-snazzy-info-window [maxWidth]="200">
      <ng-template>
        {{marker.title}}
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>