:host {
    width: 1366px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    z-index: 1;
}
> p {
    font-size: 14px;
    color: var(--dark);
    line-height: 44px;
    font-weight: bold;
}
main {

}
input {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    margin: 60px auto;
    width: 300px;
    display: flex;
    flex-flow: column;
    background: url('/assets/icons/login-b.svg') 50% 0 no-repeat;
    padding-top: 130px;
}
input[type="text"],
input[type="password"] {
    height: 44px;
    outline: none;
    border: none;
    padding: 0 22px;
    color: white;
    font-size: 16px;
    background: var(--purple);
    margin-bottom: 22px;
    box-shadow: var(--inset);
    text-shadow: 0 0 10px white;
    animation: field 3s 3s infinite both;
}
input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: var(--inset), 0 0 10px var(--purple);
    animation-play-state: paused;
}
input[type="text"]:hover,
input[type="password"]:hover {
    background: var(--pink);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: white;
    
}
label {
    line-height: 22px;
    display: block;
    color: var(--dark);
    font-size: 12px;
    margin-left: 22px;
    font-weight: bold;
}
input[type=submit] {
    animation: field 3s 3s infinite both;
    margin: auto;
    width: 100%;
    height: 34px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background: #b8e986;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: var(--inset), 0 0 10px var(--green);
    text-shadow: 0 0 10px white;
}
input[type=submit]:hover {
    box-shadow: var(--inset), 0 0 20px var(--green);
}
input {
    transition: all .3s;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
form p {
    text-align: center;
    margin: 22px 0;
}
form p a {
    font-size: 16px;
    line-height: 44px;
    color: var(--orange);
    font-weight: bold;
    text-decoration: none;
}
form p a:hover {
    color: var(--pink);
}
h1 {
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    color: var(--purple);
}

  @keyframes field {
      from { opacity: 1; }
      50% { opacity: .7; }
      to { opacity: 1; }
  }