article {
    position: relative;
    cursor: pointer;
}
article figure {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--pink);
    box-shadow: 0 0 10px var(--pink);
    transition: all .3s;
}
article:hover figure {
    box-shadow: 0 0 0;
}
article::after {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    top: 53px;
    right: 3px;
    border: 2px solid white;
    background: var(--green);
    z-index: 2;
}
article figure::before {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 1px solid white;
    box-shadow: var(--shadow);
}
article figure img {
    border-radius: 100px;
    max-width: 100%;
}
h1 {
    font-size: 12px;
    text-align: center;
    line-height: 44px;
}