.dark { background: black; }
.dark app-news-index article { background: black; }
.dark app-news-index article figure { border-color: black; }
.dark app-news-index article a { color: var(--light); }
.dark app-news-index article p { color: var(--light); }
.dark app-trainers-index article figure::after { border-color: black; }
.dark app-trainers-index article figure { border-color: black; }
.dark app-news-list h1 { color: var(--dark); }
.dark app-trainers-list h1 { color: var(--dark); }
.dark app-trainers-index h1 { color: var(--light); }
.dark app-header .login { color: white; }
.dark app-clubs-index { background: black; }
.dark app-news-show article figure { border-color: black; }
.dark app-trainers-show .userbar figure::after { border-color: black; }
.dark app-trainers-show .userbar figure { border-color: black; }