div {
    height: 70px;
    background: rgba(189, 16, 224, .7) url('/assets/bg-bot.svg') 0 100% no-repeat;
    display: flex;
    align-items: center;
    padding: 0 90px;
    box-shadow: var(--inset);
}
figure {
    box-shadow: var(--shadow);
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background: white url(/assets/icons/more.svg) 50% 50% no-repeat;
    margin-right: 44px;
    background-size: 30px;
    cursor: pointer;
}
img {
    margin-left: 44px;
    cursor: pointer;
}
img:hover {
    opacity: .7;
}
img:last-of-type {
    margin-right: 44px;
}
p {
    margin: 0 44px;
    color: white;
    font-size: 14px;
}
p:first-of-type {
    text-shadow: 0 0 10px white;
}
a {
    text-decoration: none;
    color: var(--yellow);
    text-shadow: 0 0 10px var(--yellow);
    transition: all .3s;
}
a:hover {
    text-shadow: 0 0 20px var(--yellow);
}