<app-notify></app-notify>
<app-header></app-header>
<div>
    <app-upgrade></app-upgrade>
    <p><span>1</span>Красивый адрес своего профиля в социальных сетях или резюме.</p>
    <p><span>2</span>Вы покажете всем активность сообщества фитнеса.</p>
    <p><span>3</span>Продвигайте профиль через поисковые системы.</p>
    <img src="/assets/fitcoin.svg" alt="Купить FitCoin скоро!" title="Купить FitCoin скоро!">
</div>
<router-outlet></router-outlet>
<div>
    <app-subscribe></app-subscribe>
</div>
<app-footer></app-footer>
<app-pleer></app-pleer>
