:host {
    display: block;
    position: relative;
    height: 100%;
}
div {
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
p {
    width: 30%;
    color: white;
    text-align: center;
    background: var(--purple);
    padding: 22px;
    height: 100%;
    font-size: 14px;
}
p span {
    display: block;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 100%;
    color: var(--purple);
    line-height: 22px;
    margin: 0 auto 22px;
}
p:first-of-type {
    border-bottom-left-radius: 10px;
}
p:last-of-type {
    border-bottom-right-radius: 10px;
}
img {
    margin-left: 44px;
    width: 44px;
    transition: all .3s;
    cursor: pointer;
    align-self: center;
}
img:hover {
    opacity: .5;
}