:host {
    grid-area: show;

}
article {
    width: 790px;
    display: block;
    box-shadow: var(--shadow);
    margin: auto;
    padding-bottom: 44px;
    border-radius: 8px;
    overflow: hidden;
}
article header {
    line-height: 44px;
    color: var(--light);
    font-size: 14px;
    font-weight: bold;
}
article header h1 {
    color: var(--dark);
    padding: 0 45px;
    font-size: 16px;
    line-height: 44px;
}
article figure {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 44px;
    height: 300px;
    overflow: hidden;
}
article figure img {
    max-width: 100%;;
}
article p {
    padding: 0 45px;
    font-size: 14px;
    color: var(--dark);
}
