<!-- <aside>

    <section class="worktime">
      <h5>{{trainer?.email}}</h5>
      <h5>{{trainer?.phone}}</h5>
  
    </section>
  </aside> -->
  <main>
    <article>
      <section class="userbar">
          <figure><img src="https://file.fitgum.ru/{{trainer?.photo}}" alt=""></figure>
          <div>
            <h1>{{trainer?.name}} {{trainer?.surname}}</h1>
            <h1>{{trainer?.club.title}}</h1>
            <ul>
              <li>Опыт <span>{{trainer?.experience}}</span></li>
              <li>Просмотров <span>{{trainer?.views}}</span></li>
              <li>Достижений <span>0</span></li>
            </ul>
            <p>{{trainer?.description}}</p>
          </div>
          <!-- <section class="communicate">
            <nav>
              <a href="">{{trainer?.email}}</a>
              <a href="">{{trainer?.phone}}</a>
            </nav>
          </section> -->
      </section>
      <section class="service">
        <!-- <h1>Образование: {{trainer?.education}}</h1> -->
        <article>
          <figure></figure>
          <h1>Видео тренировки</h1>
          <p>Для начинающих</p>
        </article>
        <article>
            <figure></figure>
            <h1>Видео тренировки</h1>
            <p>Продвинутые</p>
          </article>
          <article>
              <figure></figure>
              <h1>Видео тренировки</h1>
              <p>Йога или выбор</p>
            </article>
      </section>
        <!-- <section class="service">
            <h1>Дополнительнные возможности</h1>
  
          </section> -->
    </article>
  </main>
  