<aside>

    <section class="worktime">
      <h5>Время</h5>
  
    </section>
  </aside>
  <main>
    <article>
      <section class="userbar">
          <figure><img src="https://fitgum.ru/files/{{trainer.photo}}" alt=""></figure>
          <div>
            <h1>{{club?.title}}</h1>
            <h1>Fitness trainer</h1>
            <ul>
              <li>Сообщений <span>73</span></li>
              <li>Подписчиков <span>73</span></li>
              <li>Достижений <span>3</span></li>
            </ul>
            <p>Для прогрессивного развития нужен тренер.</p>
          </div>
          <section class="communicate">
            <nav>
              <a href="">Подписаться</a>
              <a href="">Сообщение</a>
            </nav>
          </section>
      </section>
      <section class="service">
        <h1>Персональный тренер (купить занятие)</h1>
        <article>
          <figure></figure>
          <h1>Видео тренировки</h1>
          <p>Для начинающих</p>
        </article>
        <article>
            <figure></figure>
            <h1>Видео тренировки</h1>
            <p>Продвинутые</p>
          </article>
          <article>
              <figure></figure>
              <h1>Видео тренировки</h1>
              <p>Йога или выбор</p>
            </article>
      </section>
        <section class="service">
            <h1>Дополнительнные возможности</h1>
  
          </section>
    </article>
  </main>
  