@import url(./assets/css/dark.css);
@import url(./assets/css/light.css);
:root {
    --pink: #bd10e0;
    --purple: #9013fe;
    --blue: #4a90e2;
    --green: #7ed321;
    --orange: #f5a623;
    --cyan: #50e3c2;
    --light: #9b9b9b;
    --dark: #4a4a4a;
    --red: #d0021b;

    --platinum: #e5e4e2;
    --gold: #ffd700;
    --silver: #c0c0c0;
    --bronze: #cd7f32;

    --shadow: 0 0 10px rgba(0,0,0,.1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before,
*::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-width: 1366px;
    font-family: Arial, Helvetica, sans-serif;
}