<div>
    <app-upgrade></app-upgrade>
    <section>
        <p>Красивый адрес своего профиля в социальных сетях или резюме.</p>
        <p>Вы найдёте онлайн тренера в сообществе фитнеса.</p>
        <p>Продвигайте профиль через поисковые системы.</p>
    </section>
    <img src="/assets/fitcoin.svg" alt="Купить FitCoin скоро!" title="Купить FitCoin скоро!">
</div>
<app-news-list [news]="topNews"></app-news-list>
<app-trainers-list [trainers]="topTrainers"></app-trainers-list>
<app-clubs-list [clubs]="topClubs"></app-clubs-list>