<div>
    <app-upgrade></app-upgrade>
    <p><span>1</span>Красивый адрес своего профиля в социальных сетях или резюме.</p>
    <p><span>2</span>Вы найдёте онлайн тренера в сообществе фитнеса.</p>
    <p><span>3</span>Продвигайте профиль через поисковые системы.</p>
    <img src="/assets/fitcoin.svg" alt="Купить FitCoin скоро!" title="Купить FitCoin скоро!">
</div>
<app-news-list [news]="topNews"></app-news-list>
<app-trainers-list [trainers]="topTrainers"></app-trainers-list>
<app-clubs-list [clubs]="topClubs"></app-clubs-list>