:host {
    width: 1366px;
    margin: 0 auto 44px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "news" "trainers" "clubs";
    grid-row-gap: 44px;
    position: relative;
    z-index: 1;
}
div {
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: var(--purple);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--inset);
}
section {
    display: flex;
    align-items: center;
}
p {
    width: 30%;
    color: white;
    font-size: 14px;
    margin: 0 44px;
}
p span {
    display: block;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 100%;
    color: var(--purple);
    line-height: 22px;
    margin: 0 auto 22px;
}

img {
    margin: 0 44px;
    width: 44px;
    transition: all .3s;
    cursor: pointer;
    align-self: center;
}
img:hover {
    opacity: .5;
}