:host {
    width: 1366px;
    margin: 0 auto 44px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    z-index: 1;
}
p {
    font-size: 14px;
    color: var(--dark);
    line-height: 44px;
    font-weight: bold;
}
form {
    display: block;
    height: 300px;
    display: flex;
    font-size: 14px;
    border: 5px solid var(--pink);
    box-shadow: 0 0 10px var(--purple);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--dark);
}