<nav>
  <a href="/news" routerLink="/news" routerLinkActive="active">Новости</a>
  <a href="/map" routerLink="/map" routerLinkActive="active" title="Метки на клубы и магазины">Карта</a>
  <a href="/clubs" routerLink="/clubs" routerLinkActive="active" title="">Клубы</a>
  <a href="/trainers" routerLink="/trainers" routerLinkActive="active" title="Персональные тренеры">Тренеры</a>
  <a href="/flyers" routerLink="/flyers" routerLinkActive="active" title="Доступные флаеры и скидки">Акции</a>
  <a href="/chat" routerLink="/chat" routerLinkActive="active" title="Онлайн тренировки">Общение</a>
  <a href="/jobs" routerLink="/jobs" routerLinkActive="active" title="Свободные места">Вакансии</a>
</nav>