:host {
    margin: auto;
    width: 100%;
}
nav {
    margin: 22px 0;
    text-align: center;
}
a {
    padding: 0 44px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    line-height: 44px;
    position: relative;
    display: inline-block;
    text-shadow: var(--shadow);
    color: var(--dark);
}
a:nth-child(4) { color: var(--pink); }
a:nth-child(5) { color: var(--purple); }
a:nth-child(1) { color: var(--blue); }
a:nth-child(2) { color: var(--green); }
a:nth-child(3) { color: var(--orange); }
a:nth-child(6) { color: var(--red); }
a:nth-child(7) { color: var(--cyan); }

.active:nth-child(4) { text-shadow: 0 0 10px var(--pink); }
.active:nth-child(5) { text-shadow: 0 0 10px var(--purple); }
.active:nth-child(1) { text-shadow: 0 0 10px var(--blue); }
.active:nth-child(2) { text-shadow: 0 0 10px var(--green); }
.active:nth-child(3) { text-shadow: 0 0 10px var(--orange); }
.active:nth-child(6) { text-shadow: 0 0 10px var(--red); }
.active:nth-child(7) { text-shadow: 0 0 10px var(--cyan); }