:host {
    margin: auto;
}
a {
    padding: 0 44px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    line-height: 44px;
    position: relative;
    display: inline-block;
    text-shadow: var(--shadow)
}
a:nth-child(4) { color: var(--pink); }
a:nth-child(5) { color: var(--purple); }
a:nth-child(1) { color: var(--blue); }
a:nth-child(2) { color: var(--green); }
a:nth-child(3) { color: var(--orange); }
a:nth-child(6) { color: var(--red); }

a::after {
    content: "";
    position: absolute;
    left: 22px;
    right: 22px;
    bottom: 0px;
    height: 1px;
    width: 3px;
    margin: auto;
    transition: all .3s;
}
a:hover::after,
.active::after {
    width: 44px;
}
a:nth-child(4)::after { background: var(--pink); }
a:nth-child(5)::after { background: var(--purple); }
a:nth-child(1)::after { background: var(--blue); }
a:nth-child(2)::after { background: var(--green); }
a:nth-child(3)::after { background: var(--orange); }
a:nth-child(6)::after { background: var(--red); }