:host {
    display: block;
    position: relative;
    z-index: 1;
    background: var(--purple) url('/assets/bg-top.svg') 0 0 no-repeat;
    box-shadow: var(--inset);
}
p {
    padding: 0 90px;
    max-width: 1366px;
    color: white;
    line-height: 44px;
    text-align: center;
    position: relative;
}
a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px white;
}